@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/onest";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Onest Variable", sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xseist-sans);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.6048 0.2166 257.2136);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9288 0.0126 255.5078);
  --secondary-foreground: oklch(0.2795 0.0368 260.031);
  --muted: oklch(0.9288 0.0126 255.5078);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9683 0.0069 247.8956);
  --accent-foreground: oklch(0.2795 0.0368 260.031);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.6048 0.2166 257.2136);
  --chart-1: oklch(0.5162 0.2374 267.0029);
  --chart-2: oklch(0.5854 0.2041 277.1173);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.5915 0.2569 322.8961);
  --chart-5: oklch(0.5916 0.218 0.5844);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-primary: oklch(0.6048 0.2166 257.2136);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9683 0.0069 247.8956);
  --sidebar-accent-foreground: oklch(0.2795 0.0368 260.031);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.6048 0.2166 257.2136);
  --destructive-foreground: oklch(1 0 0);
  --font-onest: "Onest Variable", sans-serif;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
  --tracking-normal: normal;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.dark {
  --background: oklch(0.2241 0.0181 255.71);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2724 0.0249 251.153);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2724 0.0249 251.153);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3717 0.0392 257.287);
  --secondary-foreground: oklch(0.9288 0.0126 255.5078);
  --muted: oklch(0.3241 0.0261 250.8581);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.3717 0.0392 257.287);
  --accent-foreground: oklch(0.9288 0.0126 255.5078);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.3717 0.0392 257.287);
  --input: oklch(0.3241 0.0261 250.8581);
  --ring: oklch(0.6231 0.188 259.8145);
  --chart-1: oklch(0.5162 0.2374 267.0029);
  --chart-2: oklch(0.5854 0.2041 277.1173);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.5915 0.2569 322.8961);
  --chart-5: oklch(0.5916 0.218 0.5844);
  --sidebar: oklch(0.2241 0.0181 255.71);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.6231 0.188 259.8145);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3717 0.0392 257.287);
  --sidebar-accent-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-border: oklch(0.3717 0.0392 257.287);
  --sidebar-ring: oklch(0.6231 0.188 259.8145);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.5rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Onest Variable", sans-serif;
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

/* React Flow node selection styles */
.react-flow__node.selected #base-node {
  @apply ring-3 ring-muted-foreground/25 shadow-lg;
}
